<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for product in products %}
    {% for review in reviews %}
<ol> <ul> <b>Product</b> {{ product.name }}
                        <br> Description: {{ product.description }} </ul>
                        <br>
    <ul> <b>Reviews</b> <br> Author: {{ review.author }}
                        <br> Rating: {{ review.rating }}
                        <br> Comment: {{ review.text }} </ul>
</ol>
<br>
    {% endfor %}
{% endfor %}
</body>
</html>